## Labs 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
file1=pd.read_csv(r'C:\Users\hecto\PreWorks\W1\Pandas\Labs1/file1.csv')

In [3]:
file2=pd.read_csv(r'C:\Users\hecto\PreWorks\W1\Pandas\Labs1/file2.csv')

In [4]:
file3=pd.read_csv(r'C:\Users\hecto\PreWorks\W1\Pandas\Labs1/file3.csv')

In [5]:
print("Shape file 1:", file1.shape)

Shape file 1: (4008, 11)

In [6]:
print("Shape file 2:", file2.shape)

Shape file 2: (996, 11)

In [7]:
print("Shape file 3:", file3.shape)

Shape file 3: (7070, 11)

In [8]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [9]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [10]:
file1.rename({'ST':'State','GENDER':'Gender'},inplace=True, axis=1)

In [11]:
file2.rename({'ST':'State','GENDER':'Gender'},inplace=True, axis=1)

In [12]:
column_names=file3.columns
column_names

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [13]:
data=pd.DataFrame(columns=column_names)
data.head()

Empty DataFrame
Columns: [Customer, State, Customer Lifetime Value, Education, Gender, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Total Claim Amount, Vehicle Class]
Index: []

In [14]:
data=pd.concat([data,file1,file2,file3],axis=0)

In [15]:
data.shape

(12074, 11)

In [16]:
data.columns=[column.lower()for column in data.columns]

In [17]:
data.head()

,customer,state,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

In [18]:
data.dtypes

customer                      object
state                         object
customer lifetime value       object
education                     object
gender                        object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
total claim amount           float64
vehicle class                 object
dtype: object

In [19]:
cols=data.columns
num_cols=data._get_numeric_data().columns
num_cols

Index(['income', 'monthly premium auto', 'total claim amount'], dtype='object')

In [20]:
list(set(cols)-set(num_cols))

['policy type',
 'number of open complaints',
 'customer lifetime value',
 'education',
 'gender',
 'vehicle class',
 'customer',
 'state']

In [21]:
data2=data.drop(['education','number of open complaints'], axis=1)

In [22]:
data2.head()

,customer,state,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car

In [23]:
data2['customer lifetime value']=data2['customer lifetime value'].astype('float', errors='ignore')

In [24]:
data2.head()

,customer,state,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car

In [25]:
data2['customer lifetime value']= pd.to_numeric(data2['customer lifetime value'].astype(str).str[:-1], errors='ignore')

In [26]:
data2.head()

,customer,state,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
0,RB50392,Washington,na,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car

In [27]:
data_clean=data2.drop_duplicates()

In [28]:
data_clean.shape

(9135, 9)

In [29]:
data_clean.reset_index(drop=True, inplace=True)

In [30]:
data_clean.shape

(9135, 9)

In [31]:
data_filtered=data_clean[(data_clean['income']>0)]

In [32]:
data_filtered

,customer,state,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
2,AI49188,Nevada,1288743.17,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
4,GA49547,Washington,536307.65,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car
5,OC83172,Oregon,825629.78,F,62902.0,69.0,Personal Auto,159.383042,Two-Door Car
6,XZ87318,Oregon,538089.86,F,55350.0,67.0,Corporate Auto,321.600000,Four-Door Car
8,DY87989,Oregon,2412750.40,M,14072.0,71.0,Corporate Auto,511.200000,Four-Door Car
...,...,...,...,...,...,...,...,...,...
9128,TF56202,California,5032.16549,M,66367.0,64.0,Personal Auto,307.200000,Two-Door Car
9129,YM19146,California,4100.39853,F,47761.0,104.0,Personal Auto,541.282007,Four-Door Car
9130,LA72316,California,23405.9879,M,71941.0,73.0,Personal Auto,198.234764,Four-Door Car
9131,PK87824,California,3096.51121,F,21604.0,79.0,Corporate Auto,379.200000,Four-Door Car
9133,UP19263,California,7524.44243,M,21941.0,96.0,Personal Auto,691.200000,Four-Door Car

In [33]:
data=data_filtered
data.head()

,customer,state,customer lifetime value,gender,income,monthly premium auto,policy type,total claim amount,vehicle class
2,AI49188,Nevada,1288743.17,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
4,GA49547,Washington,536307.65,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car
5,OC83172,Oregon,825629.78,F,62902.0,69.0,Personal Auto,159.383042,Two-Door Car
6,XZ87318,Oregon,538089.86,F,55350.0,67.0,Corporate Auto,321.600000,Four-Door Car
8,DY87989,Oregon,2412750.40,M,14072.0,71.0,Corporate Auto,511.200000,Four-Door Car

In [34]:
data.shape

(6840, 9)

In [37]:
data.to_csv('C:\\Users\hecto\PreWorks\W1\Pandas\Labs1/Clean-Filtered-Lab1.csv',index=False)